{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" href="{% static 'pages/style.css' %}">
</head>
<body>
    <nav>
    <a href="/">Home</a> |
    <a href="/about/">About</a> |
    <a href="/contact/">Contact</a> |
    <a href="/experience/">Experience</a> |
    <a href="/blog/">Blog</a>
</nav>
    <h1>Contact Me</h1>
    <p>You can reach me through my social media:</p>
    <ul>
        <li>Twitter: @flyvarkAI</li>
        <li>Instagram: @kendee</li>
        <li>LinkedIn: kenno</li>
        <li>Email: kenetworkltd@gmail.com</li>
    </ul>
   
</body>
</html>